@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: 'Acme', Indie;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #042A2B;
  --primary-color: #13412a;
  --secondary-color:#b4db6c ;
  --primary-shadow: #0f5f2e;
  --secondary-shadow: #218848e7;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */
body{
  background-image:linear-gradient(#87e76ae8,#33c5b2);
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}



/* CSS Resets end */

/* Navbar */
.html-nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.html-nav h1 {
  color: white;
}

.html-nav a {
  color: white;
  transition: var(--transition);
}
.html-nav a:hover {
  color: white;
  border-bottom: 2px solid var(--secondary-color);
}

.html-nav .navigation {
  display: flex;
  gap: 1.9rem;
}

.html-nav .navigation li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: white;
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Navbar ends */

/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  height: 37.5rem;
  width: 37.5rem;
}
.hero img{
  animation:move 1.5s linear infinite;
}
@keyframes move {
  0%{
    transform : translate(-10px , 5px);
  }
  50%{transform: translate(5px,-10px);}
}
.bio {
  background-color: rgb(236, 204, 162);
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 1px 8px 1px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}
/* Hero section ends */

/* Skills section */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;

}

.skills-wrapper img {
  padding: 1.25rem;
}


.icon {
  width: 11.875rem;
  height: 11.25rem;
}
.second-set {
  display: flex;
  margin-left: 20%;
}
.first-set {
  display: flex;
  margin-left: 20%;
}
/* Skills section ends */










/* Projects section */
.projects {
  /* background-color: white; */
  background-image: linear-gradient(#52c258e7,#33c5b2,);;
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;

}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}
.project-link:hover{
 
}


.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

/* Projects section ends */


/*Coding wala links*/

.dot {
  height: 180px;
  width: 180px;
  padding:20px;
  margin:10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
}
.dot:hover{
  box-shadow: 6px 1px 1px black;
  cursor: grab;
  
}
.icon-hack{
  width: 160px;
 height: 160px;
position: relative;
left: -6%;
top:-6%;
border-radius: 100%;
display: block;
}
.icon-git{
  width: 160px;
 height: 160px;
position: relative;
left: -7%;
top:-7%;
border-radius: 100%;
display: block;
}
.icon-linkedin{
  width: 160px;
  height: 160px;
 position: relative;
 left: -7%;
 top:-7%;
 border-radius: 100%;
 display: block;
}
.icon-email{
  width: 160px;
  height: 160px;
 position: relative;
 left: -7%;
 top:-7%;
 border-radius: 100%;
 display: block;
}



/*Coding link ends*/

/* Contacts section */
.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  background:#CDF2CA;;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}
.contact-form-container:hover{
  background-color:#b4db6c;
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: #ca6818;;
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
/* Contacts section ends */

/* Social buttons */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2.58rem;
  height: 2.58rem;
}
/* Social button ends */

/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}
/* Scroll to top button ends */

/* Footer section */
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
/* Footer section ends */

/* General (utilities) */
.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}
.icon-card:hover{
  background-color: #e7e73f;
}
.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}
.project-card:hover{
    background-color:#b4db6c;
}

.bio:hover{
  background-color:#eec2f0;

}


/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  .html-nav {
    padding: 1.5rem 1rem;
  }
  .html-nav .navigation {
    position: fixed;
    background-color: rgba(55, 156, 80, 0.932);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }
  .html-nav a:hover{
    color: white;
  }
  .html-nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  .html-nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    height: 37.5rem;
    width: 30rem;
  }
  
  .bio {
    margin-top: -7rem;
    width: 30.5rem;
  }
  
 

 

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }
  

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}

@media screen and (max-width: 360px) {
 
  .html-nav{
    padding: 1.5rem 1rem;
  }
  .html-nav {
    width: 406px;
}
.html-nav ul {
    position: fixed;
    background-color: rgba(55, 156, 80, 0.932);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 90%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }
  .html-nav a:hover{
    color: white;
  }
  .html-nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  .html-nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    height: 37.5rem;
    width: 30rem;
    align-items: center;
    align-content: center;
  }
  
  .bio {
    margin-top: -7rem;
    width: 22.5rem;
    margin-left: 5.5rem;
  }
  
 
 
  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}
/*Certifications start here*/



.container-cert {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.container-cert .card {
	position: relative;
	width: 300px;
	height: 190px;
	background: #CDF2CA;
	margin: 20px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(2px);
}

.container-cert .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
  
	flex-direction: column;
	transition: 0.5s;
}

.container-cert .card:hover .content {
	transform: translateY(-20px);
}

.card:hover{
  background-color: #F5FDB0;
}

.container-cert .card .content .imgBx {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.container-cert .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container-cert .card .content .contentBx h3 {
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 10px 0 10px;
	line-height: 1.1em;
}

.container-cert .card .content .contentBx h3 span {
	font-size: 14px;
	font-weight: 550;

	text-transform: initial;
}

.container-cert .card .sci {
	position: absolute;
	bottom: 50px;
	display: flex;
}

.container-cert .card .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.container-cert .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}

.container-cert .card .sci li a {
	color: rgb(0, 0, 0);
	font-size: 20px;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*Certification end here*/

.copy{

color: white;
}
a{
  color: white;
}



/*coding website details*/
/* body {
  background: #f2f4f8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  font-family: "Open Sans";
} */

.education {
  --bg-color: #ffd861;
  --bg-color-light: #ffeeba;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(255, 215, 97, 0.48);
}

.credentialing {
  --bg-color: #B8F9D3;
  --bg-color-light: #e2fced;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(184, 249, 211, 0.48);
}

.wallet {
  --bg-color: #CEB2FC;
  --bg-color-light: #F0E7FF;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.human-resources {
  --bg-color: #DCE9FF;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.card-code {
  width: 220px;
  height: 321px;
  background: #fff;
  border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0,0,0,0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.card-code:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}

.card-code:hover .overlay {
  transform: scale(4) translateZ(0);
}

.card-code:hover .circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.card-code:hover .circle:after {
  background: var(--bg-color-light);
}

.card-code:hover p {
  color: var(--text-color-hover);
}

.card-code:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0,0,0,0.11),
    0 15px 24px var(--box-shadow-color);
}

.card-code p {
  font-size: 17px;
  color: #4C5656;
  margin-top: 30px;
  z-index: 1000;
  transition: color 0.3s ease-out;
}

.circle {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circle:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  top: 7px;
  left: 7px;
  transition: opacity 0.3s ease-out;
}

.circle svg {
  z-index: 10000;
  transform: translateZ(0);
}

.overlay {
  width: 118px;
  position: absolute; 
  height: 118px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 70px;
  left: 50px;
  z-index: 0;
  transition: transform 0.3s ease-out;
}